<div id="conotrols">
    <p>Total filtered results {{totalFilteredResults()}}</p>
    <input
        type="text"
        [value]="searchTerm()"
        (input)="searchTerm.set(searchInput.value)"
        #searchInput
    >
    <p>Order by category</p>
    <select #categorySelect (change)="selectedCategory.set(categorySelect.value)">
        <option value="" selected>-- select option --</option>
        <option value="computers">Computers</option>
        <option value="accessories">Accessories</option>
        <option value="monitors">Monitors</option>
    </select>

    <p>Order by:</p>
    <select #orderBySelect (change)="sortBy.set(orderBySelect.value)">
        <option value="" selected>-- select option --</option>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
    </select>
</div>

<div id="products" style="display: flex; justify-content: space-around;">
    @for (product of filteredProducts(); track product.id) {
        <div style="text-align: center;">
            <p>Name: {{ product.name }}</p>
            <p>Category: {{ product.category }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Rating: {{ product.rating }}</p>
        </div>
    }
</div>